body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: black;
  color: black;
}

.container {
  background-color: white;
  padding: 40px;
  margin: 60px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

textarea {
  height: 50px;
  width: 250px;
}


input {
  height: 30px;
  width: 250px;
}
