

<% @reviews.each do |review| %>

  <p class="review"><%= review.text %></p>

  <p><%= review.user.username %> </p>
  <%= link_to "Delete comment",[review.trail, review], method: :delete %>
<% end %>
